
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    color: #212529;
}
#navbar {
    display: flex;
    width: 100%;
    /* border:1px solid black; */
    top: 0;
    margin: auto;
    position: fixed;
    z-index: 100;
    background: #fff;
    padding: 5px 10px 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

#nav {
    width: 75%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    margin: auto;
}

#left_div>div {
    margin-left: 25px;
    margin-top: -20px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .55px;
    text-align: left;
    color: #59595a;
    left: 26px;
    width: 100px;

}
#nav>a{
    text-decoration: none;
    color: #59595a;
}
#left_div:hover {
    cursor: pointer;
}
#payment-Div{
    width: 494px;
    margin: 0 auto 97px;
    padding-top: 114px;
}
#box-shadow{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#pay-heading{
    height: 66px;
    background-color: #0ebaba;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px 4px 0 0;
    align-items: center;
}
#title{
    font-size: 17px;
    line-height: .75;
    text-align: left;
    font-weight: bold;
    color: #fff;
}
#sub-title{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.09;
    text-align: left;
    color: #fff;
    margin-top: 5px;
}
#amount-paid{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}
#nextpay-div{
    width:90%;
    padding: 30px 28px;
}
.sameFunc{
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 18px 20px;
    background-color: hsla(0,0%,94.1%,.53);
    display: flex;
    align-content: center;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.sameFunc>div>img{
    width: 23px;
    height: auto;
}
#paytm>img,#amazon>img{
    width: 64px;
    height: auto;
}
#paytm,#amazon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 18px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: hsla(0,0%,94.1%,.53);
}
.sameFunc>i{
    color:#0ebaba;
    font-size: 20px;
}
#paytm,#amazon>a{
    color:#0ebaba; 
    font-weight: 500;
}

/* //single-single card start */


#debit-card{
    border: 1px solid#e0e0e0;
    background-color:  hsla(0,0%,94.1%,.53);
    margin-bottom: 10px;
    border-radius: 5px;
 }
 #debit-card>form{
     padding: 0px 18px 0px 18px;
     display: flex;
     flex-direction: column; 
     margin-top: -10px;
     border: none;
 }
 #debit-card>div{
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     padding: 18px 20px;
     background-color: hsla(0,0%,94.1%,.53);
     display: flex;
     align-content: center;
     cursor: pointer;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 10px;
     border: none;
 }
 #debit-card>div>div>img{
     width: 23px;
     height: auto;
     margin-right: 10px;
 }
 .fillinginput{
     display: flex;
     flex-direction: column;
     margin-bottom: 20px;
 }
 #onlyfilling{
     display: flex;
     justify-content: space-between;
     margin-bottom: 20px;
     width: 100%;
     /* border: 1px solid red; */
 }
 #finalPay{
    width:100%; 
    font-size: 16px;
    height: 52px;
    font-weight: 700;
    border-radius: 2px;
    background-color: #0ebaba;
    padding: 10px 0!important;
    opacity: .65;
    color: #fff;
    border: none;
    margin-bottom: 18px;
    cursor:pointer;
 }
 .doSmall{
     font-size: 13px;
     font-weight: 400;
     font-style: normal;
     font-stretch: normal;
     line-height: 1;
     letter-spacing: normal;
     text-align: left;
     color: #707070;
     display: inline-block;
     margin-bottom: 0.5rem;
 }
 #mycard-number,#mycard-name{
     display: block;
     width: 94%;
     padding: 0.375rem 0.75rem;
     font-size: 1rem;
     line-height: 1.5;
     color: #495057;
     background-color: #fff;
     background-image: none;
     background-clip: padding-box;
     border: 1px solid #ced4da;
     border-radius: 0.25rem;
     overflow: visible;
     outline:none;
 }
 .onlyfilling>div{
     width:50%;
 }
 #Expiry-date{
     display: block;
     width: 75%;
     padding: 0.375rem 0.75rem;
     font-size: 1rem;
     line-height: 1.5;
     color: #495057;
     background-color: #fff;
     background-image: none;
     background-clip: padding-box;
     border: 1px solid #ced4da;
     border-radius: 0.25rem;
     overflow: visible;
     outline:none;
 }
 #CVV{
     display: block;
     width: 86%;
     padding: 0.375rem 0.75rem;
     font-size: 1rem;
     line-height: 1.5;
     color: #495057;
     background-color: #fff;
     background-image: none;
     background-clip: padding-box;
     border: 1px solid #ced4da;
     border-radius: 0.25rem;
     overflow: visible;
     outline:none;
 }
 .fa-chevron-down{
     color:#0ebaba;
     font-size: 20px; 
 }
 

@media only screen and (max-width:770px){
    #nav {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        /* border: 1px solid red; */
        margin: auto;
    }
    #right_div {
        display: flex;
        /* border:1px solid blue; */
        justify-content: space-evenly;
        width: 70%;
        align-items: center;
    }
    

}
