body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin:0;
    color:#212529;
    background-color: #F1F4F8;
}
#navbar{
    display: flex;
    width: 100%;
    /* border:1px solid black; */
    top:0;
    margin:auto;
    position: fixed;
    z-index: 100;
    background: #fff;
    padding:5px 10px 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
#nav{
    width:75%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin:auto;
}
#left_div>div{
    margin-left: 25px;
    margin-top: -20px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .55px;
    text-align: left;
    color: #59595a;
    left: 26px;
    width: 100px;

}
#left_div:hover{
    cursor: pointer;
}
#spaniv{
    background-color: rgb(244, 238, 238);
    border-radius: 20px;
    padding: 5px;
}
#right_div{
  display:flex;
  /* border:1px solid blue; */
  width:60%;
  justify-content: space-between;
  align-items: center;
}
#right_div>div>a{
    text-decoration: none;
    color:#212529;
    font-weight: 500;
}
#right_div>div:nth-child(1)>a:hover{
    color:#20c997;;
}
#right_div>div:nth-child(2)>a:hover{
    color:#20c997;;
}
#right_div>div:nth-child(6)>a:hover{
    color:#20c997;;
}
#right_div>div:nth-child(1){
  border:1px solid rgb(187, 186, 186);
  padding: 8px 16px;
  color:#212529;
  border-radius: 5px;
}
#right_div>div:nth-child(2){
    border:1px solid rgb(187, 186, 186);
  padding: 8px 16px;
  color:#212529;
  border-radius: 5px;
}
#right_div>div>a>img{
    width:150px;
}
#right_div>div:hover{
    cursor: pointer;
}

/* below navbar starts---------- */

#belowNav{
    width:100%;
    height:650px;
    background-image: url(https://www.revv.co.in/assets/RentalImages/HomeScreen/heroCarousel/ST_BG_1.png);
}
.imagiv{
    width: 425px;
    height:259.61px;
}

#insidediv{
    width:73%;
    /* border:1px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#innerdiv{
    width:450px;
    height: 460px;
    padding: 35px 45px 0px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 7%);
    border-radius: 14px;
    /* z-index: 1; */
    margin-top: 100px;
}
#photodiv{
    width: 425px;
    height:259.61px;
    margin-top: 100px;
}
#buttdiv{
    width:438px;
    height:78;
    border-radius: 12px;
    background-color: #49a6ba;
    display: flex;
    padding: 3px 4.5px 2px;
    border: 4px solid #49a6ba;
    justify-content: space-between;

}
#subscriptions{
    width:210px;
    height:65px;
    background: transparent;
    padding:10px 0px;
    border:none;
    cursor: pointer;
}
#subscriptions>h6{
    font-family: "Poppins";
    font-style: normal;
    letter-spacing: normal;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
   
}
#subscriptions>h6>a{
    text-decoration: none; 
    color: #fff; 
}
#subscriptions>p{
    font-weight: 400;
    font-size: 14px;
    font-family: "Poppins";
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #fff;
    margin: 0;
    line-height: 1.5;
}
#rentals{
    width:210px;
    height:65px;
    /* background: transparent; */
    padding:10px 0px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    border:none;
    cursor: pointer;
}

#rentals>h6{
    font-family: "Poppins";
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    color: black;
}
#rentals>p{
    font-weight: 400;
    font-size: 14px;
    font-family: "Poppins";
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color:black;
    margin: 0;
    line-height: 1.5;
   
}
#detfirst{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 0px 0px;
}
#detfirst>img{
    height: 35px;
    width:200px;
}
#detfirst>h1{
    color:#5A5254;
    font: 22px poppins;
    width:438px;
    height:28.08px;
    font-family: "Poppins";
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-weight: 400;
    text-align: center;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;

}
#detsecond{
    width:430px;
    height:60px;
    background: #FFFFFF;
    border: 1px solid  #c6c7d6;
    padding: 0px 10px 0px 20px ;
    display:flex;
    align-items: center;
    border-radius: 12px;
}
#detsecond>input{
    width:390px;
    font-size: 20px;
    margin-left:15px; 
    outline:none;
    border: none;
    font-weight: 600;
    color: #122232;
    cursor: pointer;
    background-color: #fff;
}
#querybyduration{
    display:flex;
    width:430px;
    height:97.5px;
    margin:auto;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 40px;
    
}
/* #listedCity{
    width:200px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 16%);
    padding: 10px;
}
#listedCity>ul{
  list-style-type:none;
} */
.searching{
    height:40px;
    width:450px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 16%);
    background-image: linear-gradient(270deg,#1caba2 25%,#1c7fab);
    /* flex: 1 1; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50px;
    font-size: 20px;
    line-height: 1.11;
    font-family: "Poppins";
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-weight: 700;
    color: #fff;
    padding: 10px;
}

.searching>a{
    text-decoration: none;
    color:#fff;
    font-weight: bold;
}

/* // slider css */

.product{
    display:flex;
    flex-direction: column;
    margin: auto;
    /* justify-content: center;
    align-items: center; */
    position:relative;
    overflow:hidden;
    padding:20px;
    width:70%;
    height:200px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
    margin-top: -50px;
    background-color: #fff;
}
#subscription{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#subscription>h2{
  margin-left: 15px;
}
/* .pre-btn,.nxt-btn{
   border:none;
   width:10vw;
   height:100%;
   position:absolute;
   top:0;
   background: linear-gradient(90deg, rgba(255, 255, 0)0%, #fff, 100%);
   cursor: pointer;
   z-index:9; 
} */
.pre-btn,.nxt-btn{
    background: #fff;
    border: none;
}
.pre-btn{
    opacity: .3;
}

.product-container{
    padding:15px;
    display:flex;
    overflow-x:auto;
    scroll-behavior:smooth;
    width:100%;
}
.product-container::-webkit-scrollbar{
    display:none;
}
.product-card{
    flex:0 0 auto;
    width:310px;
    height:150px;
    margin-right: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
}
.product-card>img{
    position: relative;
    width:100%;
    object-fit: cover;
}

/* //login css start ---------------------*/

#google-btn{
  width:100px;

}
#google-btn>img{
    width:25px; 
}
#fb-btn>img{
    width:25px; 
}
.modal{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)scale(0);
    transition:200ms ease-in-out;
    z-index: 10;
    background-color: white;
    width:300px;
    
}
.modal.active{
    transform:translate(-50%,-50%)scale(1); 
    background-color: white;
}

.content>div>.close-button{
  cursor:pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 40px;
  margin-top: -30px;
}
.overlay{
  position:fixed;
  opacity:0;
  top:0;
  transition:200ms ease-in-out;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.5);
 pointer-events: none;
}
.overlay.active{
   opacity:1;
   pointer-events: all;
}


form{
    display: flex;
    flex-direction: column;
    gap:30px;
 }
 .content{
     padding:20px;
 }
 .content>div{
    display: flex;
    justify-content: space-between;
 }
 .content>div>b{
     margin-left: 100px;
 }
 #enterEmail{
     border:none;
     outline:none;
 }
 #enterPassword{
     border:none;
     outline:none;
 }
 #logindiv{
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap:20px;
 }
 #submit{
     padding:10px 30px 10px 30px;
     background-color:rgb(54, 165, 165);
     color:white;
     font-weight: bold;
     border: none;
     border-radius: 10px;
 
 }
 #signup{
     text-decoration: none;
     color:rgb(56, 175, 175);
     margin-left: 20px;
 }
 #google-btn{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5px 25px 5px 25px;
     background-color: rgb(234, 80, 80);
     border-radius: 10px;
     border: none;
     color:white; 
     font-weight: bold;
 }
 #fb-btn{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5px 10px 5px 10px;
     background-color: rgb(68, 90, 171);
     border-radius: 10px;
     border: none;
     color:white; 
     font-weight: bold;
 }
.modalsign{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)scale(0);
    transition:200ms ease-in-out;
    z-index: 10;
    background-color: white;
    width:300px;
}
.modalsign.active{
    transform:translate(-50%,-50%)scale(1); 
    background-color: white;
}
.signcontent{
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}
.signcontent>.close-button{
    cursor:pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 40px;
    margin-top: -70px;
    margin-left: 190px;
}

#proceed-btn{
    padding:10px 30px 10px 30px;
    background-color:rgb(54, 165, 165);
    color:white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}
#enterEmailsign{
    border:none;
    border-bottom: 1px solid grey;
    outline:none;
}
.overlaysign{
    position:fixed;
    opacity:0;
    top:0;
    transition:200ms ease-in-out;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
   pointer-events: none;
  }
  .overlaysign.active{
     opacity:1;
     pointer-events: all;
  }

  /* //-----bottomdiv-------------- */

  #bottomdiv{
    width:69%;
    margin: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
    padding: 30px;
    margin-top: 30px;
  }
  #revvbottom{
    display:flex;
  }
  #paradiv{
    width:50%;
    padding: 0px 20px 0px 10px;
  }
  #paradiv>p{
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Poppins";
    color: rgb(165, 165, 165);
  }
  #videodiv{
    width:50%;
  }
 .wr-video{
    width:100%;
    height:100%;
    border:none;
    border-radius: 10px;
 }
 #knowbtn{
    border-radius: 4px;
    border: 3px solid #ebebeb;
    background-color: #F1F4F8;
    font-family: "Poppins";
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    font-size: 16px;
    padding: 10px 24px 11px 28px;
    cursor: pointer;
 }
 #knowbtn>a{
    text-decoration: none;
    color: #1caba2;
    background-color: #F1F4F8;
 }
 .productsecond{
    display:flex;
    flex-direction: column;
    margin: auto;
    /* justify-content: center;
    align-items: center; */
    position:relative;
    overflow:hidden;
    padding:20px;
    width:75%;
    height:280px;
    /* margin-top: 30px; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
    border-radius: 10px;
    background-color: #F1F4F8;
    cursor: pointer;
}
.product-cardagain{
    flex:0 0 auto;
    width:310px;
    height:170px;
    margin-right: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
}
.product-cardagain>img{
    position: relative;
    width:100%;
    object-fit: cover;
}

.productWhyRevv{
    display:flex;
    flex-direction: column;
    margin: auto;
    /* justify-content: center;
    align-items: center; */
    position:relative;
    overflow:hidden;
    padding:20px;
    width:75%;
    height:250px;
    /* margin-top: 30px; */
    border-radius: 10px;
    background-color: #F1F4F8;
    margin-bottom: 30px;
    cursor: pointer;
}
.product-cardRevv{
    flex:0 0 auto;
    width:310px;
    height:150px;
    margin-right: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px; 
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0px 10px 0px 0px;
    cursor: pointer;
}
.product-cardRevv>div>img{
    position: relative;
    width:80%;
    object-fit: cover;
    padding: 10px;
}
.product-cardRevv>div:nth-child(2){
    margin-left: 10px;
}
.product-cardRevv>div:nth-child(2)>p{
    margin-top: -15px;
}

/* footer--------------------------- */

#FAQ{
    margin: auto;
    /* padding: */
    display:flex;
    flex-direction: column;
    margin: auto;
    /* justify-content: center;
    align-items: center; */
    position:relative;
    overflow:hidden;
    width:100%;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #F1F4F8;
    margin-bottom: 30px;
    cursor: pointer;
}
#FAQ>div:nth-child(1){
    display: flex;
    justify-content: space-between;
    width:72%;
    margin: auto;
    padding: 20px 0px 0px 0px;
}
#FAQ>div>h2{
    margin-top: -5px;
    color: rgba(152,166,179,.81);
}
#FAQ>div>a{
    color:#1caba2;
    font-size: 18px;
}
.multiple{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(225, 216, 216);
}
.multiple>span{
    margin-top: 20px;
}
#FAQ>div:nth-child(2){
    width:70%;
    margin: auto;
    padding:20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 30px;
}
#subscription>h2{
    color: rgba(152,166,179,.81); 
}

/* //selected */

#rohselectcity{
    height: 60px;
    width: 440px;
    border:none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /* border-bottom: 1px solid rgb(168, 168, 168); */
    padding:10px;
    font-size: 20px;
    font-weight: bold;
    outline:none;
    cursor: pointer;
}
#rohmy3input{
     border: 1px solid rgb(168, 168, 168);
    width:98%;
    /* margin:  30px 64px 20px 70px; */
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
    
}
.rohmystartend{
    height: 60px;
    font-size: 18px;
    border: none;
    width: 190px;
    border-left:1px solid rgb(179, 179, 179) ;
    /* border: 1px solid rgb(179, 179, 179); */
    padding: 0px 15px 0px 15px;
    outline:none;
    cursor: pointer;
    
}
.rohbolderoption{
    font-weight: bold;
}
.fa-solid{
  margin-left: 20px;
}
#rohlocation{
    display:flex; 
    justify-content: center; 
    align-items:center;
    border-bottom: 1px solid rgb(168, 168, 168);
}

/* //serviceable part */

.swapidsc {
    /* /* border:1px solid red; * */
    background-color: rgb(101, 108, 128);
    padding: 2% 10%;
    color: white;
}

#swapsch1 {
    font-size: 28px;
}

.swapdivsc {
    display: grid;
    font-size: 13px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: space-between;
}

.swapdivsc p:hover {
    cursor: pointer;
    color: rgb(14, 186, 186);
}

/* Social Media Part */
.fa {
    padding: 5px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 30px 2px;
}

.fa-facebook {
    background: rgb(14, 186, 186);
    color: white;
}

.fa-twitter {
    background: rgb(14, 186, 186);
    color: white;
}

.fa-youtube-play {
    background: rgb(14, 186, 186);
    color: white;
}

.fa-instagram {
    background: rgb(14, 186, 186);
    color: white;
}

.fa-linkedin {
    background: rgb(14, 186, 186);
    color: white;
}

.social {
    display: flex;
    flex-wrap: wrap;
}

#social_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 20px;
    justify-content: space-around;
}

.social-media {
    background-color: rgb(74, 78, 90);
    padding-bottom: 10px;
    color: white;
    padding-left: 10%;
    padding-top: 20px;

}

.contact_color1 a {
    color: white;
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
}

.contact_color1 a:hover {
    color: turquoise;
}

.contact_color {
    color: turquoise;
    font-size: 1.5rem;
    line-height: 10px;
}

.contact_color a {
    color: turquoise;
    text-decoration: none;
}

@media only screen and (max-width:770px) {
    #social_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 20px;
        justify-content: space-around;
    }

    .social {
        display: flex;
        flex-wrap: wrap;
    }

    .social-media {
        background-color: rgb(74, 78, 90);
        padding-bottom: 10px;
        color: white;
        padding-left: 2%;
        padding-top: 2%;

    }

    .swapidsc {
        display: none;
    }

}






